<div class="files">
    <div class="dropdown-wrapper button sidebar" *ngIf="openedFiles.length">
        <div
            class="dropdown"
            (click)="sidebarOpened = !sidebarOpened"
        >
            <span class="dropdown-label">{{ activeFile?.name }}</span>
            <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                [ngStyle]="{
                    transform: sidebarOpened ? 'rotate(180deg)' : 'rotate(0deg)',
                    transition: 'transform 0.3s ease'
              }"
            >
                <path d="M6 8L10 12" stroke="#A4ABAE" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14 8L10 12" stroke="#A4ABAE" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div [class.opened]="sidebarOpened" class="options-container">
            <div class="options-wrapper">
                <ul class="options tabs" role="listbox" aria-expanded="false">
                    <ng-container *ngFor="let file of openedFiles">
                        <li *ngIf="file.index !== activeFile?.index || file.comparison || openedFiles.length < 2 || (guiState$ | async).is3D; else draggableTab"
                            class="option-wrapper"
                            [class.droppable-zone]="file.index !== activeFile?.index && file.index == droppableIndex">

                            <ng-container *ngTemplateOutlet="tab; context: { file: file }"></ng-container>
                        </li>
                        <ng-template #draggableTab>
                            <li class="option-wrapper tooltip"
                                [draggableFileTab]="file.index == activeFile?.index"
                                (onDroppableZone)="onDroppableZone($event)"
                                (onDrop)="onDrop()">
                                    <ng-container *ngTemplateOutlet="tab; context: { file: file }"></ng-container>
                                    <span *ngIf="droppableIndex != undefined" class="tooltip-text tooltip-bottom">
                                        Drop to start comparing these documents.
                                    </span>
                            </li>
                        </ng-template>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #tab let-file="file">
    <div
        class="tab"
        [attr.data-index]="file.index"
        [class.hidden]="file.hidden"
        [class.comparison]="file.comparison"
        [class.active]="file.index == activeFile?.index"
        (click)="handleSelectTab(file)">
        <span *ngIf="!file.comparison; else comparisonTemplate">{{file.name}}</span>
        <ng-template #comparisonTemplate>
            <b>{{file.comparison.name}}</b>
            <div class="file-list" [class.reverse]="file.comparison.activeSetAs.value == 'overlay'">
                <span
                    class="file-name"
                    [class.active]="activeFile?.index == file.comparison.activeFile?.index"
                    (click)="handleSelectSubTab($event, file.comparison.activeFile)">
                    <i class="color" [ngStyle]="{'background-color': file.comparison.activeColor.value}"></i>
                    <span>{{file.comparison.activeFile.name}}</span>
                </span>
                <span
                    class="file-name"
                    [class.active]="activeFile?.index == file.comparison.otherFile?.index"
                    (click)="handleSelectSubTab($event, file.comparison.otherFile)">
                    <i class="color" [ngStyle]="{'background-color': file.comparison.otherColor.value}"></i>
                    <span>{{file.comparison.otherFile.name}}</span>
                </span>
            </div>
        </ng-template>
        <span class="close" (click)="handleCloseTab($event, file)">&times;</span>
    </div>
</ng-template>

<rx-modal-dialog *ngIf="(guiConfig$ | async).localStoreAnnotation" [opened]="closeDocumentModal">
    <div class="confirm-modal-container close-document-modal">
        <div class="rx-modal-dialog-header">
            <img (click)="closeDocumentModal = false;" class="close" src="/assets/images/close-modal-ico.svg" />
            <span class="title"></span>
        </div>
        <div class="body">
            <p>Do you want to save markup?</p>
        </div>
        <div class="footer">
            <button (click)="closeDocumentModal = false;saveMarkupAndClose(false)" class="btn btn-light">No</button>
            <button (click)="saveMarkupAndClose(true)" class="btn btn-primary">SAVE</button>
        </div>
    </div>
</rx-modal-dialog>
